<!-- Tufts VUE 3.3.0 concept-map (Calculator_flow.vue) 2021-04-28 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/Applications/VUE.app/Contents/Resources/Java/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Apr 28 10:33:11 EDT 2021 by smith on platform Mac OS X 10.14.6 in JVM 1.8.0_60-b27 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="Calculator_flow.vue" created="1619618185364" x="0.0" y="0.0"
    width="1308.3408" height="534.0" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1619620391828"
        spec="/Users/smith/Git/HAB-Venting-and-Ballasting-Calculator/test/Calculator_flow.vue"
        type="1" xsi:type="URLResource">
        <title>Calculator_flow.vue</title>
        <property key="File" value="/Users/smith/Git/HAB-Venting-and-Ballasting-Calculator/test/Calculator_flow.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/18e5ec4b0a0000773c2a147366a8a204</URIString>
    <child ID="23" layerID="1" created="1619618680522" x="589.3957"
        y="103.0" width="38.20862" height="373.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec4c0a0000773c2a14732c355369</URIString>
        <point1 x="589.8957" y="103.5"/>
        <point2 x="627.1043" y="476.0"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
    <child ID="6" label="Launch Info from user:" layerID="1"
        created="1619618202458" x="255.0" y="25.5" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec5f0a0000773c2a147334841914</URIString>
        <child ID="7"
            label="Pressure&#xa;      &#xa;      &#xa;        Temp&#xa;      &#xa;      &#xa;        Initial Ascent Rate"
            created="1619618226575" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec600a0000773c2a14732bb94b06</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Pressure
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Temp
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Initial Ascent Rate
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Pressure
      
      
        Temp
      
      
        Initial Ascent Rate</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="Launch System info from user" layerID="1"
        created="1619618282660" x="40.0" y="25.5" width="187.0"
        height="176.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec610a0000773c2a1473b1b468e9</URIString>
        <child ID="9"
            label="Total System Mass&#xa;      &#xa;      &#xa;           balloon mass&#xa;      &#xa;      &#xa;           payload mass&#xa;      &#xa;      &#xa;           ballast mass&#xa;      &#xa;      &#xa;        Balloon Drag&#xa;      &#xa;      &#xa;        Balloon Internal Pressure&#xa;      &#xa;      &#xa;        Vent Diameter&#xa;      &#xa;      &#xa;        Lift gas type&#xa;      &#xa;      &#xa;        Ballasting Rate"
            created="1619618296911" x="5.0" y="22.0" width="177.0"
            height="148.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec610a0000773c2a14732356ed8d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Total System Mass
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
           balloon mass
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
           payload mass
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
           ballast mass
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Balloon Drag
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Balloon Internal Pressure
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Vent Diameter
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Lift gas type
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Ballasting Rate
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Total System Mass
      
      
           balloon mass
      
      
           payload mass
      
      
           ballast mass
      
      
        Balloon Drag
      
      
        Balloon Internal Pressure
      
      
        Vent Diameter
      
      
        Lift gas type
      
      
        Ballasting Rate</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="Balloon Launch State" layerID="1"
        created="1619618386952" x="215.0" y="356.0" width="160.0"
        height="64.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec620a0000773c2a1473dbd2ce7f</URIString>
        <child ID="11"
            label="Gas Mass&#xa;      &#xa;      &#xa;        Free Lift"
            created="1619618411431" x="5.0" y="22.0" width="150.0"
            height="36.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec620a0000773c2a14733376a519</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li&gt;
        Gas Mass
      &lt;/li&gt;
      &lt;li&gt;
        Free Lift
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Gas Mass
      
      
        Free Lift</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" layerID="1" created="1619618462873" x="177.84427"
        y="195.0" width="98.26361" height="161.50002" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec630a0000773c2a147329a1aa4b</URIString>
        <point1 x="178.34427" y="195.49998"/>
        <point2 x="275.60788" y="356.0"/>
        <ID1 xsi:type="text">9</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="13" layerID="1" created="1619618464805" x="298.45673"
        y="103.0" width="32.22101" height="253.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec640a0000773c2a1473d689ff43</URIString>
        <point1 x="330.17773" y="103.5"/>
        <point2 x="298.95673" y="356.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="14" label="Maneuver #1 (Venting)" layerID="1"
        created="1619618471144" x="555.0" y="258.0" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#BDE5F2</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec640a0000773c2a14734121081e</URIString>
        <child ID="21" label="Calculate how much gas to vent"
            created="1619618581940" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec650a0000773c2a14735f40fb50</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li&gt;
        Calculate how much gas to vent
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Calculate how much gas to vent</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="Man. #1 Info from user:" layerID="1"
        created="1619618497938" x="506.0" y="25.5" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec650a0000773c2a1473253f5f05</URIString>
        <child ID="16"
            label="Pressure&#xa;      &#xa;      &#xa;        Temp&#xa;      &#xa;      &#xa;        New Ascent Rate"
            created="1619618497938" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec660a0000773c2a14737a37fe8a</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Pressure
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Temp
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        New Ascent Rate
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Pressure
      
      
        Temp
      
      
        New Ascent Rate</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="17" layerID="1" created="1619618522941" x="593.71936"
        y="103.0" width="33.56128" height="155.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec660a0000773c2a14731ffadae2</URIString>
        <point1 x="594.21936" y="103.5"/>
        <point2 x="626.78064" y="258.0"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="20" label="Maneuver #1 (Ballasting)" layerID="1"
        created="1619618566556" x="551.0" y="476.0" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#BDE5F2</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6a0a0000773c2a1473d1cdb2ba</URIString>
        <child ID="22"
            label="Calculate how much ballast to drop (how much to reduce system mass)"
            created="1619618593309" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6b0a0000773c2a1473f1b66cee</URIString>
            <richText>&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;
      Calculate how much ballast to drop (how much to reduce system mass)
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Calculate how much ballast to drop (how much to reduce system mass)</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="24" label="if (initial  > target)&#xa;ascent rate"
        layerID="1" created="1619618682850" x="356.31824" y="319.79413"
        width="199.1818" height="58.70587" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6b0a0000773c2a14737229fcfa</URIString>
        <point1 x="356.8182" y="378.0"/>
        <point2 x="555.0" y="320.29413"/>
        <ID1 xsi:type="text">11</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="25" label="if (initial &lt; target)&#xa;ascent rate"
        layerID="1" created="1619618684304" x="371.5141" y="416.6095"
        width="180.21814" height="68.74017" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6c0a0000773c2a14733587890a</URIString>
        <point1 x="372.0141" y="417.1095"/>
        <point2 x="551.23224" y="484.84967"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
    <child ID="31" label="Balloon Man. #1 State" layerID="1"
        created="1619618825452" x="780.0" y="393.0" width="131.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6c0a0000773c2a14736a50bf6f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="34" label="New gas mass&#xa;Same system mass" layerID="1"
        created="1619618866991" x="708.9451" y="334.3415"
        width="115.41467" height="59.15851" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6c0a0000773c2a14739dd679cb</URIString>
        <point1 x="709.4451" y="334.8415"/>
        <point2 x="823.8598" y="393.0"/>
        <ID1 xsi:type="node">14</ID1>
        <ID2 xsi:type="node">31</ID2>
    </child>
    <child ID="37" label="New system mass&#xa;Same gas mass" layerID="1"
        created="1619618891960" x="704.35925" y="414.5"
        width="120.38397" height="62.779144" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6d0a0000773c2a147377df36b7</URIString>
        <point1 x="704.85925" y="476.77914"/>
        <point2 x="824.2432" y="415.0"/>
        <ID1 xsi:type="node">20</ID1>
        <ID2 xsi:type="node">31</ID2>
    </child>
    <child ID="64" layerID="1" created="1619618946985" x="1025.0979"
        y="103.00049" width="61.485718" height="377.9995"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6d0a0000773c2a1473172478e8</URIString>
        <point1 x="1025.598" y="103.50049"/>
        <point2 x="1086.0837" y="480.5"/>
        <ID1 xsi:type="node">67</ID1>
        <ID2 xsi:type="node">70</ID2>
    </child>
    <child ID="65" label="Maneuver #2 (Venting)" layerID="1"
        created="1619618946985" x="1008.3408" y="254.5" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#BDE5F2</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6d0a0000773c2a147368ac40c9</URIString>
        <child ID="66" label="Calculate how much gas to vent"
            created="1619618946985" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6e0a0000773c2a1473620949fc</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li&gt;
        Calculate how much gas to vent
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Calculate how much gas to vent</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="67" label="Man. #2 Info from user:" layerID="1"
        created="1619618946985" x="939.3408" y="25.5" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6e0a0000773c2a14730e81f372</URIString>
        <child ID="68"
            label="Pressure&#xa;      &#xa;      &#xa;        Temp&#xa;      &#xa;      &#xa;        New Ascent Rate"
            created="1619618946985" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6f0a0000773c2a1473ff1bcfab</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;ul color="#000000"&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Pressure
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        Temp
      &lt;/li&gt;
      &lt;li color="#000000" style="color: #000000"&gt;
        New Ascent Rate
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Pressure
      
      
        Temp
      
      
        New Ascent Rate</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="69" layerID="1" created="1619618946985" x="1030.5919"
        y="103.0" width="46.497803" height="152.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec6f0a0000773c2a1473d37d6fe6</URIString>
        <point1 x="1031.0919" y="103.5"/>
        <point2 x="1076.5897" y="254.5"/>
        <ID1 xsi:type="node">67</ID1>
        <ID2 xsi:type="node">65</ID2>
    </child>
    <child ID="70" label="Maneuver #2 (Ballasting)" layerID="1"
        created="1619618946985" x="1012.3408" y="480.5" width="160.0"
        height="78.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#BDE5F2</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec700a0000773c2a14735f580ee3</URIString>
        <child ID="71"
            label="Calculate how much ballast to drop (how much to reduce system mass)"
            created="1619618946985" x="5.0" y="22.0" width="150.0"
            height="50.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec700a0000773c2a1473f1cb44b0</URIString>
            <richText>&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;
      Calculate how much ballast to drop (how much to reduce system mass)
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Calculate how much ballast to drop (how much to reduce system mass)</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="72" label="if (initial  > target)&#xa;ascent rate"
        layerID="1" created="1619618946985" x="869.17426" y="328.3048"
        width="142.07886" height="65.19519" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec700a0000773c2a1473c67eb58f</URIString>
        <point1 x="869.67426" y="393.0"/>
        <point2 x="1010.7531" y="328.8048"/>
        <ID1 xsi:type="node">31</ID1>
        <ID2 xsi:type="node">65</ID2>
    </child>
    <child ID="73" label="if (initial &lt; target)&#xa;ascent rate"
        layerID="1" created="1619618946985" x="868.5086" y="414.5"
        width="147.25684" height="69.435455" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec710a0000773c2a1473dbdd70db</URIString>
        <point1 x="869.0086" y="415.0"/>
        <point2 x="1015.26544" y="483.43546"/>
        <ID1 xsi:type="node">31</ID1>
        <ID2 xsi:type="node">70</ID2>
    </child>
    <child ID="74" label="Balloon Man. #2 State" layerID="1"
        created="1619618946985" x="1216.3408" y="392.5" width="131.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec710a0000773c2a14733f50556c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="75" label="New gas mass&#xa;Same system mass" layerID="1"
        created="1619618946985" x="1156.4453" y="332.0"
        width="106.54553" height="61.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec710a0000773c2a1473881f384c</URIString>
        <point1 x="1156.9453" y="332.5"/>
        <point2 x="1262.4908" y="392.5"/>
        <ID1 xsi:type="node">65</ID1>
        <ID2 xsi:type="node">74</ID2>
    </child>
    <child ID="76" label="New system mass&#xa;Same gas mass" layerID="1"
        created="1619618946985" x="1155.5522" y="413.99994"
        width="108.81897" height="67.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec720a0000773c2a147382600bb4</URIString>
        <point1 x="1156.0521" y="480.49994"/>
        <point2 x="1263.8711" y="414.49994"/>
        <ID1 xsi:type="node">70</ID1>
        <ID2 xsi:type="node">74</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1619618185386" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/18e5ec730a0000773c2a1473e57084eb</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-82.5"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1619618185362"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/18e5ec730a0000773c2a14734919ee80</URIString>
            <masterSlide ID="2" created="1619618185407" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/18e5ec730a0000773c2a1473b9666dea</URIString>
                <titleStyle ID="3" label="Header"
                    created="1619618185537" x="341.0" y="175.0"
                    width="118.0" height="50.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/18e5ec740a0000773c2a1473ced35f9e</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1619618185538" x="349.5" y="282.5"
                    width="101.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/18e5ec740a0000773c2a1473ebd60785</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1619618185538"
                    x="375.5" y="385.0" width="49.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/18e5ec750a0000773c2a1473da7dc139</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2021-04-28</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/Users/smith/Git/HAB-Venting-and-Ballasting-Calculator/test</saveLocation>
    <saveFile>/Users/smith/Git/HAB-Venting-and-Ballasting-Calculator/test/Calculator_flow.vue</saveFile>
</LW-MAP>
