* {box-sizing: border-box;}
body {
  background-color: #085c96;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  background-color: white;
}
.header {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #085c96;
}
.header h1 {
  margin-top: 5%;
  font-size: 50px;
  text-align: right;
  font-weight: 300;
}

.header h3 {
  text-align: right;
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
}
.header .logo {
  text-align: right;
  padding-right: 5em;
}

@media screen and (max-width:990px) {
  .header h1 {
    font-size: 30px;
    text-align: center;
  }
  .header .logo {
    text-align: center;
    padding-right: 0;
  }
}


h2 {
  padding-bottom: 0.5em;
}
table {
  table-layout: fixed;
  width: 100%;
}


tr {
  margin: 10px 0;
}
#manuevers tr {
  border-bottom: 1px solid #dddddd;
}
#heading th:not(:first-child) {
  text-align: center;
  color: #222;
}

#heading th:not(:first-child):not(.manuever) {
  color: #ddd;
}

.col2, .col3, .col4, .col5, .col6 {
  display: none;
}

.bCol2, .bCol3, .bCol4, .bCol5, .bCol6 {
  display: none;
}

th {
  width: 150px;
  margin-right: 4em;
  padding: 0.5em 0.5em;
}
td {
  width: 150px;
  padding: 0.5em 0.5em;
}

.input-group {
  table-layout: fixed;
  width: 140px;
}
.calc {
  background-color: #d2f3fe;
}

#calc {
  overflow-x: auto;
}

.add-remove {
  padding: 20px 0;
}

.add-remove .btn {
  width: 7em;
}

.smaller-input {
  width:50%;
}

.calcButtonContainer {
  padding-top: 1.25em;
}

.afterCalculate {
  padding-top: 2em;
}

.flightSystemPanel > .container,
.balloonPanel > .container,
.launchConditionsPanel > .container,
.conditionsPanel > .container {
  background-color: inherit;
}

.flightSystemPanel {
  background-color: #fafafa;
  padding-top: 1.1em;
  padding-bottom: 3em;
}

.balloonPanel {
  background-color: #eee;
  padding-top: 1.1em;
  padding-bottom: 3em;
}

.launchConditionsPanel {
  background-color: #ddd;
  padding-top: 1.1em;
  padding-bottom: 3em; 
}

.conditionsPanel {
  background-color: #ccc;
  padding-top: 1.1em;
  padding-bottom: 3em;
}

.createdByPanel {
  background-color: #bbb;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.greyed {
  background-color: #ddd;
}

#balloonType {
  display: block;
  height: 3rem;
  width: 140px;
}

/* #totalMass,
#lsAirDensity,
#ambientAirDensity,
#launchVolume,
#freeLiftKg,
[id^="ballastRemaining"],
#ballastDurationCapacity,
#ballastRemaining {
  background-color: #ddd;
} */


.form-control {
  width: 12ex !important;
}
